so
*.img
*.zip
*.tar.gz
*.rar
*.7z
*.csv
*.xlsx
*.xls
*.db
*.sqlite

# 忽略临时文件
*.tmp
*.bak
*.swp
*.swo
*.log
*.lock

# 忽略 Python 编译文件
__pycache__/
*.pyc
*.pyo
*.pyd

# 忽略 IDE 自动生成的文件
.idea/
.vscode/
*.sln
*.suo
*.user
*.userosscache
*.sdf
*.ipch
*.vcxproj.filters
*.sln.docstates

# 忽略日志和数据库目录
logs/
tmp/
database/
db/
data/
venv/
cache/
*.log
*.parquet

# 忽略特定配置文件

config/config.yaml
config/autosave/

# 敏感文件
src/strategy/rotation.py
src/strategy/factors_lib.py
src/strategy/Multi_Factors.py

# 忽略 Git 相关临时文件
*.gitignore.un~
*.gitignore~

